@import "./loader.scss";
#app{
    height: calc(100vh - 5em);
    width: 100vw;
    position: relative;
}
#map{
    margin:0; 
    padding:0;  
    width : 100%; 
    height : 100%;
}
#legend{
    position: absolute;
    bottom: 4em;
    right: 1.5em;
    width: 15em;
    z-index: 1001;
}
#legend > strong{
    background-color: rgba(255,255,255,.7);
}
.legend label,.legend span {
    background-color: rgba(255,255,255,.7);
    display:block;
    float:left;
    height:15px;
    width:50%;
    text-align:center;
    font-size:.6em;
}
.legend.roads label,.legend.roads span {
    background-color: rgba(255,255,255,.7);
    display:block;
    float:left;
    height:15px;
    width:50%;
    text-align:center;
    font-size:.85em;
}
.label {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: -1em;
}

.label div {
    position: relative;
    left: -50%;
    top: 10px;
    text-shadow: 0px 2px 1px rgba(255,255,255,0.85);
}

#initial-loader-overlay{
	display: none;

	article{
		padding: 0;
		transition: all .2s ease-in-out;
	}
}
#initial-loader-overlay.active{
  position: absolute;
	z-index: 1005;
	height: 100vh;
	width: 100vw;
	padding: 1em;
	background-color: rgba(255,255,255,.5);
	display: flex;

	article{
		margin: auto;
		position: relative;
		max-width: 100%;
		padding: 4em 2em;
		transition: all .2s ease-in-out;

		div{
			padding: .25em;

      p{
        font-size: 1.28em;
      }
		}
	}
}