@import 'colors.scss';
.sms-signup-box{
    margin-bottom: 1.25em;
    
    form{
        background-color: $color-2;
        padding: .5em;

        .checkbox-container-group-box{
            display: flex;
            justify-content: center;

            .checkbox-container-box{
                padding: 0 .25em;
            }
        }

        .container-box{
            position: relative;
            padding: .25em;

            input{
                padding: 1.25em .5em .5em .5em;
                width: calc(100% - 1em);
                border: none;
            }

            label{
                position: absolute;
                left: .7em;
                top: .355em;
                font-size: .9em;
                font-weight: bold;
            }
        }

        .alert-message-box{
            display: none;
            position: relative;
            padding: .5em 1em;
            margin: 0 .25em;

            .close-section-btn{
                top: .25em;
                font-size: .9em;
                padding: .25em .6em;
            }
        }
    
        .alert-message-box.active{
            display: block;
        }
    
        .alert-message-box.error{
            background-color: lighten($color: $color-4, $amount: 15);
            color: $black;
        }
    
        .alert-message-box.success{
            background-color: lighten($color: $color-2, $amount: 9);
            color: $black;
        }

        button{
            border: none;
            background-color: $color-1;
            color: $white;
            padding: .5em;
            margin-left: .3em;
            cursor: pointer;
        }
    }
}